APP_NAME="SONASID RH Predictive System"
APP_ENV="development"
API_PREFIX="/api/v1"

MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB="sonasid_rh"

UPLOAD_DIR="data/uploads"

QDRANT_URL="http://localhost:6333"
QDRANT_COLLECTION_CV="cv_embeddings"
QDRANT_COLLECTION_POSTES="postes_embeddings"

EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
